<%- include("./partials/header") %> 


<main class="main__container">
    <div class="left__container">
        left
    </div>
    <div class="main__content">
        <% post.forEach(post => { %> 
        <div class="main__wrapper">
            <div class="user__con">
                  <div class="user_img">
                    <img src="/img/<%= post.postImg %> " alt="<%= post.title %> ">
                  </div>  

                  

                  <div class="upvote">
                          <form action="/v/<%=post.id %>" method="POST" >
                        
                        <button><img src="https://www.flaticon.com/svg/static/icons/svg/120/120906.svg" id="down"></button>
                        </form>




                    <h2 id="score"><%= post.score.length %> </h2> 
                 <form action="/dv/<%=post.id %>" method="POST" >

                      <button>
                      <img src="https://www.flaticon.com/svg/static/icons/svg/120/120906.svg" id="up" alt="vote" title="down vote">
                      </button>
                      </form>
                  </div>
            </div>
                
                <div class="post__content">
                    <div class="date">
                    <span>posted by:<%=post.postedBy.username%> </span>
                         
                        

                        <span><%= post.createdAt. toLocaleDateString() %></span> 
                        <span> under <%= post.categories  %> </span> 
                    </div>
                    <a href="/post/<%= post.slug %> ">
                    <div class="title"> 
                        <h2> <%= post.title.substr(0, 140)  %> </h2>
                       
                    </div>
                </a> 
                    <div class="content"><p><%= post.content.substr(0, 150)  %> ...  </p></div>
                    <div class="view_content">
                        <div class="showView">
                          <span><i class="fa fa-eye"></i> 200k</span>
                        </div>
                        <div class="show_comment">
                       
                            

                           <!-- <span> <i class="fa fa-comment"></i> <=findComment.length %> </span>
                             -->
                     
                        </div>
                        <!-- <div class="show_follower"> -->
                           <!-- <span> <i class="fa fa-user-o"></i> 20 follo</span> -->
                        <!-- </div> -->

                        

                        <div class="like" style="display:flex">
                        <!-- like post -->
                        <form  action="/like/<%= post.id%>" method="POST" id="likeForm">

                                    <button type="submit" id="like" title="like"><i class="fa fa-thumbs-up" style="cursor:pointer; border:none; outline:none; background:unset;"></i></button>
                                </form>
                                <p><%= post.like.length%></p>

                        <!-- dislike post -->
                                <form  action="/dislike/<%= post.id%>" method="POST" id="likeForm">
                                <button id="dislike"><i class="fa fa-thumbs-down" title="dislike" id="dislike" style="cursor:pointer; border:none; outline:none; background:unset;"></i></button>

                                </form>
                        
                        </div>

                        <!--share -->
                        <div class="share">
                           <span> <i class="fa fa-share-alt"></i></span>
                        </div>


                    </div>
                </div>
                        
                         
            </div>
            <%  }) %> 
    </div>
    <div class="right__container">
        right
    </div>

</main>


<%- include("./partials/footer") %> 

