<div class="getUserInfo">
    <div class="info">
        <div class="profile__card">
            <div class="card_img">
                
                     
                        <img src="/img/upload/<%=details.profileImg %> " alt="" >
        
                     
                    </div>
                    <div class="profile__wrapper">
                        <p><i class="fa fa-user"></i> <%=details.firstname%> </p>
                        <p><i class="fa fa-user-o"></i><%=details.lastname%> </p>
                        <p><i class="fa fa-user"></i><%=details.username%> </p>
                        <p><i class="fa fa-envelope"></i> <%= details.email %> </p>
                        <p><i class="fa fa-phone"></i> +234<%= details.phone %> </p>
                        <p><i class="fa fa-calendar"></i> <%= details.dob %> </p>
                        <p><i class="fa fa-calendar"></i> <%= details.roles %> </p>
                        <p><i class="fa fa-male"></i> <%= details.gender %> </p>
                        <p><i class="fa fa-map-marker"></i> <%= details.country %> </p>
                        <p><i class="fa fa-map-marker"></i> <%= details.state %> </p>
                        <p><i class="fa fa-map-marker"></i> <%= details.lg %> </p>
                        <p><i class="fa fa-map-marker"></i> <%= details.address %> </p>
                    </div>
            </div>
        </div>
</div>